!.gitkeep
stanford-corenlp-full-2015-12-09/
.DS_Store
.idea/
*.pyc
data/broken_sent.txt
data/broken_sent.txt.json
data/input.txt.json
env/
.scrapecache/
tmp/
data/broken_sent.txt
data/broken_sent.txt.json
data/eval_rights.txt
data/eval_wrongs.txt
data/chain.txt
